/* Define a color palette variable */
:root {
  --text-a-color: #0c0c0c;
  --text-b-color: #999;
  --text-c-color: #03a7d3;
  --text-d-color: #ff4646;
  --text-light-color: #ffffff;
  --bg-color: #f8f8f8;
  --bg-a-color: #03a7d3;
  --bg-b-color: #ffffff;
  --bg-c-color: #ff4646;
  --bg-d-color: #fafafa;
  --bg-e-color: #ecebeb;
  --bg-f-color: #0378a6;
  --blue-color: #020230;
  --black-color: #000000;
  --fade-color: #1b1b44;
  --contact-border: #b0b0b0;
  --contact-text: #101010;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-a-color);
  background-color: var(--bg-color);
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.container_border_style {
  position: relative;
  padding: 20px;
}

.container_border_style::before,
.container_border_style::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 3px;
  height: 90px;
  background-color: var(--bg-a-color);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container_border_style::before {
  left: 0;
}

.container_border_style::after {
  right: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  /* background-color: #020230; */
  background: radial-gradient(circle at center, var(--fade-color) 0%, var(--blue-color) 80%);
  /* background: linear-gradient(to bottom, #020230 0%, #1b1b44 50%, #020230 100%); */
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sub_page .hero_area {
  min-height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand span {
  font-weight: bold;
  color: var(--text-light-color);
  font-size: 24px;
  text-transform: uppercase;
}

.custom_nav-container {
  padding: 10px 0;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 3px 15px;
  margin: 10px 15px;
  color: var(--text-light-color);
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: var(--text-light-color);
  margin: 0 20px;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: var(--bg-b-color);
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-b-color);
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
  transform: none;
}

/* Estilo personalizado para el logo */
.custom_logo {
  width: auto; /* Establece el ancho automáticamente para mantener la proporción original */
  height: 80px; /* Ajusta la altura según tus preferencias */
  margin-right: 10px; /* Agrega un margen derecho para separar el logo del título */
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.quote_btn-container a {
  color: var(--text-light-color);
  text-transform: uppercase;
}

.quote_btn-container a span {
  margin-left: 5px;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 90px;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: var(--text-light-color);
}

.slider_section .detail-box h1 {
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 2rem;
}

.slider_section .detail-box h1 span {
  font-size: 3rem;
  color: #03a7d3;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
}

.slider_section .detail-box a {
  margin: 5px;
  width: 195px;
  text-align: center;
}

.slider_section .detail-box .btn-1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--bg-a-color);
  color: var(--text-light-color);
  border-radius: 5px;
  border: 1px solid var(--bg-a-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slider_section .detail-box .btn-1:hover {
  background-color: transparent;
  color: var(--bg-a-color);
}

.slider_section .detail-box .btn-2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--bg-c-color);
  color: var(--text-light-color);
  border-radius: 5px;
  border: 1px solid var(--bg-c-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slider_section .detail-box .btn-2:hover {
  background-color: transparent;
  color: var(--bg-c-color);
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel_btn-box {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  z-index: 3;
  font-size: 22px;
}

.slider_section .carousel_btn-box .carousel-control-prev,
.slider_section .carousel_btn-box .carousel-control-next {
  position: unset;
  width: 50px;
  height: 50px;
  background-color: var(--bg-a-color);
  opacity: 1;
  font-size: 28px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slider_section .carousel_btn-box .carousel-control-prev:hover,
.slider_section .carousel_btn-box .carousel-control-next:hover {
  background-color: var(--bg-b-color);
  color: var(--black-color);
}

.about_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about_section .img-box img {
  max-width: 100%;
}

.about_section .detail-box p {
  color: var(--text-b-color);
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: var(--bg-c-color);
  color: var(--text-light-color);
  border-radius: 5px;
  border: 1px solid var(--bg-c-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: var(--bg-c-color);
}

.service_section {
  position: relative;
}

.service_section .box {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 25px;
  background-color: var(--bg-d-color);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.service_section .box .img-box {
  width: 75px;
  height: 75px;
  background-color: var(--bg-a-color);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 10px;
}

.service_section .box .img-box img {
  width: 100%;
  max-width: 45px;
  max-height: 45px;
}

.service_section .box .detail-box {
  margin-top: 15px;
}

.service_section .box .detail-box h4 {
  font-weight: bold;
  font-size: 22px;
}

.service_section .box .detail-box a {
  color: var(--text-c-color);
}

.service_section .box .detail-box a:hover {
  color: var(--bg-d-color);
}

.service_section .box:hover .img-box {
  background-color: var(--bg-c-color);
}

.server_section {
  background: linear-gradient(110deg, transparent 25%, var(--blue-color) 25%);
  padding: 55px 0;
  color: var(--text-light-color);
}

.server_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.server_section .img-box {
  position: relative;
}

.server_section .img-box img {
  width: 100%;
}

.server_section .img-box .play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: none;
}

.server_section .img-box .play_btn button {
  background-color: transparent;
  border: none;
  background-color: var(--bg-a-color);
  color: var(--text-light-color);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: relative;
  z-index: 3;
  outline: none;
}

.server_section .img-box .play_btn:before,
.server_section .img-box .play_btn:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--bg-a-color);
  opacity: 1;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.server_section .img-box .play_btn:before {
  z-index: 2;
  -webkit-animation: before-animation 1500ms infinite;
  animation: before-animation 1500ms infinite;
}

.server_section .img-box .play_btn:after {
  z-index: 1;
  -webkit-animation: after-animation 1500ms infinite;
  animation: after-animation 1500ms infinite;
}

@-webkit-keyframes before-animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0)
      scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes before-animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0)
      scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@-webkit-keyframes after-animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
    opacity: 0;
  }
}

@keyframes after-animation {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
    opacity: 0;
  }
}

.server_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: var(--bg-c-color);
  color: var(--text-light-color);
  border-radius: 5px;
  border: 1px solid var(--bg-c-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 25px;
}

.server_section .detail-box a:hover {
  background-color: transparent;
  color: var(--text-d-color);
}

.price_section .price_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.price_section .price_container .box {
  margin: 45px 15px 0 15px;
}

.price_section .price_container .box .detail-box {
  width: 300px;
  padding: 40px 20px 15px 20px;
  background-color: #fff;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden; /* ocultar elementos que excedan el tamaño */
  height: 310px; /* Establecemos una altura fija */
  transition: height 0.3s; /* transición al mostrar elementos ocultos */
}

.price_section .price_container .box .detail-box h2 {
  font-weight: bold;
}

.price_section .price_container .box .detail-box h2 span {
  font-size: 3rem;
}

.price_section .price_container .box .detail-box h6 {
  text-transform: uppercase;
  color: var(--text-c-color);
  font-size: 20px;
  margin-bottom: 10px;
}

.price_section .price_container .box .price_features {
  padding: 0;
  list-style-type: none;
}

.price_section .price_container .box .price_features li {
  margin: 10px 0;
}

.price_section .price_container .box .btn-box {
  margin-top: 25px;
}

.price_section .price_container .box .btn-box button {
  display: inline-block;
  padding: 10px 35px;
  background-color: var(--bg-c-color);
  color: var(--text-light-color);
  border-radius: 5px;
  border: 1px solid var(--bg-c-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.price_section .price_container .box .btn-box a:hover {
  background-color: transparent;
  color: var(--text-d-color);
}

.price_section .price_container .box .btn-box a:hover {
  display: inline-block;
  padding: 10px 35px;
  background-color: var(--bg-c-color);
  color: var(--text-light-color);
  border-radius: 5px;
  border: 1px solid var(--bg-c-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.price_section .price_container .box:hover {
  color: var(--text-light-color);
}

.price_section .price_container .box:hover .detail-box {
  background-color: var(--bg-a-color);
  height: auto;
}

.price_section .price_container .box:hover h6 {
  color: --text-light-color;
}

.price_section .price_container .box:hover a {
  background-color: #03a7d3;
  color: --text-light-color;
}

.price_section .price_container .box .detail-box h6,
.price_section .price_container .box .price_features {
  opacity: 1; /* Inicialmente, ocultamos los elementos de texto */
  transition: opacity 0.3s; /* Agregamos una transición para suavizar el efecto de aparición */
}

.price_section .price_container .box:hover .detail-box h6,
.price_section .price_container .box:hover .price_features {
  opacity: 1; /* Al pasar el mouse por encima, mostramos los elementos de texto */
}

.client_section {
  padding-bottom: 45px;
}

.client_section .heading_container {
  margin-bottom: 35px;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 45px 0;
}

.client_section .box .img-box {
  width: 125px;
  height: 125px;
  min-width: 125px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: -65px;
  position: relative;
}

.client_section .box .img-box img {
  width: 100%;
}

.client_section .box .client_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.client_section .box .client_info .client_name h5 {
  font-weight: bold;
  color: var(--text-c-color);
  margin-bottom: 0;
  text-transform: uppercase;
}

.client_section .box .client_info .client_name h6 {
  margin-bottom: 0;
  color: var(--text-d-color);
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}

.client_section .box .client_info i {
  font-size: 24px;
  color: var(--text-c-color);
}

.client_section .box p {
  margin-top: 25px;
}

.client_section .box .detail-box {
  background-color: var(--bg-b-color);
  padding: 45px 45px 45px 85px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: var(--bg-a-color);
  opacity: 1;
  font-size: 28px;
  font-weight: bold;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.client_section .carousel-control-prev {
  left: 0;
}

.client_section .carousel-control-next {
  right: 0;
}

.contact_section {
  position: relative;
}

.contact_section .heading_container {
  margin-bottom: 45px;
}

.contact_section .form_container input {
  width: 100%;
  border: 1px solid var(--contact-border);
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  background-color: transparent;
  outline: none;
  color: var(--contact-text);
}

.contact_section .form_container input::-webkit-input-placeholder {
  color: var(--contact-border);
}

.contact_section .form_container input:-ms-input-placeholder {
  color: var(--contact-border);
}

.contact_section .form_container input::-ms-input-placeholder {
  color: var(--contact-border);
}

.contact_section .form_container input::placeholder {
  color: var(--contact-border);
}

.contact_section .form_container input.message-box {
  height: 120px;
}

.contact_section .form_container .btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact_section .form_container button {
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 65px;
  background-color: var(--bg-c-color);
  color: var(--text-light-color);
  border-radius: 0;
  border: 1px solid var(--bg-c-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
}

.contact_section .form_container button:hover {
  background-color: transparent;
  color: var(--text-d-color);
}

/* info section */
.info_section {
  background-color: var(--blue-color);
  color: var(--text-light-color);
}

.info_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.info_section .info_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
  margin: 5px 0;
  color: var(--text-light-color);
}

.info_section .info_contact .contact_link_box a i {
  margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
  color: var(--text-d-color);
}

.info_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.info_section .info_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--text-light-color);
  border-radius: 100%;
  margin-right: 10px;
  font-size: 24px;
}

.info_section .info_social a:hover {
  color: var(--text-d-color);
}

.info_section .info_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.info_section .info_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
  color: var(--text-light-color);
}

.info_section .info_links a img {
  margin-right: 10px;
}

.info_section .info_links a:hover,
.info_section .info_links a.active {
  color: var(--text-d-color);
}

.info_section form input {
  border: none;
  border-bottom: 1px solid var(--text-light-color);
  background-color: transparent;
  width: 100%;
  height: 45px;
  color: var(--text-light-color);
  outline: none;
}

.info_section form input::-webkit-input-placeholder {
  color: var(--text-light-color);
}

.info_section form input:-ms-input-placeholder {
  color: var(--text-light-color);
}

.info_section form input::-ms-input-placeholder {
  color: var(--text-light-color);
}

.info_section form input::placeholder {
  color: var(--text-light-color);
}

.info_section form button {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 10px 55px;
  background-color: var(--bg-c-color);
  color: var(--text-light-color);
  border-radius: 0;
  border: 1px solid var(--bg-c-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 15px;
}

.info_section form button:hover {
  background-color: transparent;
  color: var(--text-d-color);
}

/* end info section */

/* budget section */

/* Estilo para la lista de características #budget-content-container  */
.budget {
  background-color: var(--bg-e-color); /* Color de fondo */
  padding: 20px; /* Espaciado interno */
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

.budget h1 {
  font-size: 34px; /* Tamaño del título */
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px; /* Espaciado inferior del título */
}

.budget p {
  text-align: center;
}

.budget-columns {
  display: flex; /* Activa el modo flexbox */
  justify-content: space-between; /* Distribuye el espacio entre las columnas */
  flex-wrap: wrap; /* Permite que los elementos fluyan a la siguiente fila si no caben en una sola línea */
}

.budget-column {
  flex: 1; /* Hace que las columnas tengan el mismo ancho */
  padding: 10px; /* Espaciado entre las columnas */
  box-sizing: border-box; /* Incluye el relleno en el ancho total */
}

.budget h2 {
  font-size: 20px; /* Tamaño del título */
  margin-bottom: 20px; /* Espaciado inferior del título */
}

/* Estilo para los elementos de la lista */

.budget ul li {
  margin-bottom: 5px; /* Espaciado inferior entre elementos de la lista */
}

/* Estilo para las etiquetas de checkbox */
.budget input[type="checkbox"] {
  margin-right: 10px; /* Espaciado a la derecha de los checkboxes */
}

/* Estilo para las etiquetas de las características */
.budget label {
  font-size: 16px; /* Tamaño del texto de las características */
}

/* Estilo para los botones */
.budget button {
  background-color: var(--bg-a-color);
  color: var(--text-light-color);
  border: none; /* Borde del botón */
  padding: 10px 20px; /* Espaciado interno del botón */
  margin-top: 20px; /* Espaciado superior del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  border-radius: 5px; /* Bordes redondeados del botón */
  margin-right: 1%;
}

.budget button:hover {
  background-color: var(--bg-f-color); /* Cambia el color de fondo al pasar el cursor sobre el botón */
}

.salida {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.monto_total {
  font-size: 2em;
  margin-top: 1%;
  text-align: center;
}

/* end budget section */

/* modal */

.modal {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(2, 2, 48, 0.9); /* Slight transparency */
  border-radius: 10px; /* Rounded borders */
   /* Adjust the width as per your requirement */
  height: auto;
  max-width: 800px; /* Maximum width to maintain a proper size */
  padding: 10px;
  box-sizing: border-box;
  color: var(--blue-color); /* Text color */
  pointer-events: auto;
}

/* Close button styles */
.close {
  position: absolute;
  z-index: 10001;
  top: 15px;
  right: 15px;
  color: red;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

/* Button styles */
.modal button {
  background-color: var(--bg-a-color);
  border: none;
  color: var(--text-light-color);
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.btn_box button {
  background-color: var(--bg-a-color);
  border: none;
  color: var(--text-light-color);
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.modal button:hover {
  background-color: var(--bg-f-color);
}

/* Input field styles */
.modal input[type="text"],
.modal input[type="email"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Thank you message styles */
.thankyou_message {
  display: none;
  color: #020230;
  font-size: 10px;
  margin-top: 10px;
}

/* end modal */

/* footer section*/
.footer_section {
  position: relative;
  background-color: var(--blue-color);
  text-align: center;
}

.footer_section p {
  color: var(--text-light-color);
  padding: 20px 0;
  margin: 0;
  border-top: 1px solid var(--bg-b-color);
}

.footer_section p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */
