/* Estilos para la ventana flotante */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}


/*  ================================= */

/* Estilo para la ventana modal */
.modal {
    /* display: none;  La ventana modal no se muestra inicialmente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
    overflow: auto; /* Permite desplazarse si el contenido es más largo que la pantalla */
    z-index: 1;
  }
  
  /* Estilo para el contenido de la ventana modal */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centra la ventana modal verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80%; /* Altura máxima para la ventana modal */
    overflow-y: auto; /* Habilita la barra de desplazamiento vertical si es necesario */
  }
  
  /* Estilo para el botón de cierre (la "X") */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Estilo para el botón de cierre cuando se pasa el ratón por encima */
  .close:hover {
    color: #f00; /* Cambia el color al pasar el ratón por encima */
  }



.price_container .box {
  display: flex;
}

.price_container .box .detail-box {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  transition: background-color 0.3s;
}

.price_container .box .detail-box h2 {
  margin: 0;
}

.price_container .box .price_features {
  column-count: 2; /* Divide la lista en dos columnas */
  column-gap: 20px; /* Espacio entre las columnas */
  padding-left: 0; /* Elimina el espacio izquierdo predeterminado de la lista */
}

.price_section .price_container .box:hover .detail-box {
  background-color: #03a7d3;
  height: auto;
}

.price_section .price_container .box .detail-box h6 {
  color: #000; /* Cambia el color del título dentro del cuadro */
}

.price_section .price_container .box .detail-box ul {
  opacity: 0;
  transition: opacity 0.3s;
}

.price_section .price_container .box:hover .detail-box ul {
  opacity: 1;
}

